html {}

body {
    font-family:'Noto Sans',sans-serif;
    font-size:17px;
    background-color:#ffffff;
}

h1 {font-size:32px; text-align:center;}
h2 {font-size:24px; text-align:center; font-weight:bold; text-transform:uppercase;}

.figure {margin:12px 0;}
.figure__figcaption {margin-top:7px; text-align:center; font-style:italic;}

.header {background-color:#333; box-shadow:0px 2px 8px 0px rgba(0,0,0,0.3); line-height:50px;}

.logo {margin:5px 0; font-size:32px; text-align:center; text-transform:lowercase;}
.logo a {text-decoration:none; color:white;}

.header-links {margin:5px 0; text-align:center;}
.header-links a {color:white;}

.menu {margin:7px 0; text-align:center;}
.menu__list {padding:0; margin:0; list-style:none;}
.menu__list li {display:inline;}
.menu__link {padding:7px 7px; font-size:15px; color:lightblue; font-weight:bold; text-transform:uppercase;}
.menu__link:hover {color:white; background-color:black; text-decoration:none;}
.menu__link--projects {}

.main {background-color:#f1edec;}

.presentation {background-color:#f1edec; padding:20px 0;}

.presentation-text {font-size:18px; text-align:center;}

.presentation-form {margin-top:10px; text-align:center;}
.presentation-form__textarea {width:calc(100% - 10px); height:300px; padding:10px;}
.presentation-form__email {width:calc(100% - 10px); padding:10px; margin-bottom:10px;}

.button {
	background-color:green;
	border:0;
	padding:20px 30px;
    display:inline-block;
    color:black;
	text-transform:uppercase;
	font-weight:bold;
	transition:background-color .2s ease-in-out;
}
.button:hover {text-decoration:none; color:black;}
.button--yellow {background-color:#fedb17;}
.button--yellow:hover {background-color:#fee245;}

.project-feature {text-align:center; margin:10px 0;}
.project-feature__section {margin-bottom:10px;}
.project-feature__section-image {margin:15px 0; box-shadow:0px 0px 10px 1px rgba(0,0,0,0.2);}
.project-feature__section-image img {width:100%;}
.project-feature__section-image:hover {transform:scale(1.05);}

.footer {background-color:#f1edec; padding:10px 0;}

.footer-links-list {text-align:center; padding:0; margin:20px 0;}
.footer-links-list__item {display:inline-block; margin:0 10px;}
.footer-links-list__item a {color:black;}
